<nav>
    <!-- header -->
    <table id="navtable">
      <tr>
        <td class="table-header" align="left" style="width: 33.3333333333%;">
          
        </td>
        <td class="table-header" align="center" style="width: 33.3333333333%;">
          <a href="/" style="outline: none;">
            <img id="navimg" src="/resources/icons/logo.png" alt="logo" style="width: 45px; height: 35px;"/>
          </a>
        </td>
        <td class="table-header" align="right" style="width: 33.3333333333%;">
          
        </td>
        <!-- logout button -->
      </tr>
    </table>
    <!-- shadow -->
    <div class="table2">
      <table id="navtable2">
        <tr>
          <td></td>
        </tr>
      </table>
    </div>
</nav>
    <!-- collapsible -->
<div class="wrapper"></div>