
<%- include("./partials/headerindex.ejs") %>

<div class="rectapw">
    <form action="/new_password" method="POST">
        <div class="rect shadow-dreamy" id="rect" style="padding-bottom: 40px;">
            <span style="color:white; font-family: manrope; font-size: 1.2rem;">Gib dein neues Passwort ein.</span>
            <input onkeyup="checkpw()" type="password" id="password" name="password" placeholder="Passwort" required autocomplete="off"/>
            <input style="margin-bottom: 0;" onkeyup="checkpw()" type="password" id="passwordrpt" name="passwordrpt" placeholder="Passwort wiederholen" required autocomplete="off"/>
            <span style="margin-top: 0;color: red; font-family: manropethin" id="dialogue"></span>
            <input class="disabled" style="margin-top: 20px; margin-bottom: 0;" type="submit" id="login-btn" value="Passwort ändern" type="submit">
        </div>
    </form>
</div>

<script>
    var btn = document.getElementById("login-btn");
    var sp = document.getElementById("dialogue");
    function checkpw() {
        var pw = document.getElementById("password").value;
        var pwr = document.getElementById("passwordrpt").value;
        if(pw) {
            if(pw.length > 7) {
                if(pwr) {
                    if(pw==pwr) {
                        btn.classList.remove("disabled")
                        sp.innerHTML="";
                    } else {
                        sp.innerHTML="Passwörter müssen identisch sein."
                        btn.classList.add("disabled")
                    }
                } else {
                    sp.innerHTML="";
                    btn.classList.add("disabled")
                }
        } else {
            sp.innerHTML="Passwort muss länger als 8 Zeichen sein."
            btn.classList.add("disabled")
        }
        } else {
            sp.innerHTML="";
            btn.classList.add("disabled")
        }
    }
</script>