
<%- include("./partials/headerindex.ejs") %>

<div class="rectapw">
    <% if(success != "") { %>
        <div>
            <div class="rect shadow-dreamy" style="padding-bottom: 40px;">
                <span style="font-family: manropesemibold; color: #53b581;"><%= success %></span>
            </div>
            <div class="forgotpw" id="forgotpw" style="top: -36px;">
                <a href="/">Login</a>
            </div>
        </div>
    <% } else if(error != "") { %>
        <div class="rect shadow-dreamy" style="padding-bottom: 40px;">
            <span style="font-family: manropesemibold; color: red; font-size: 1.2rem;"><%= error %></span>
            <a href="/reset_password" style="text-decoration: none;outline: none;color: white;"><button class="confirmbutton">Neuen Link anfordern</button></a>
        </div>
    <% } else { %>
        <form action="/createresetid" method="POST">
            <div class="rect shadow-dreamy" id="rect" style="padding-bottom: 40px;">
                <span style="color:white; font-family: manrope; font-size: 1.2rem;">Gib Deine angegebene Mailadresse ein und wir schicken Dir einen Link zum Zurücksetzen deines Passworts</span>
                <div class="form-section">
                    <input style="margin-top:40px;" type="text" id="mail" name="mail" placeholder="" required/>
                    <label for="mail" class="form-label"><span class="label-content">Email</span></label>
                </div>
                <input style="margin-top: 15px; margin-bottom: 0;" type="submit" id="login-btn" value="Absenden" type="submit">
            </div>
            <div class="forgotpw" id="forgotpw" style="top: -36px;">
                <a href="/">Login</a>
            </div>
        </form>
    <% } %>
</div>
